MANAGE_HOST=100.75.128.38
MANAGE_PORT=3044
TODOZI_BASE=http://100.75.128.38:8636
TODOZI_BASE_URL=http://100.75.128.38:8636
TODOZI_API_KEY=replace-me
TODOZI_READ_KEY=replace-me
TODOZI_ADMIN_KEY=replace-me
TODOZI_TIMEOUT_SECONDS=20
